body {
  background-color: rgb(119, 136, 153);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__colors--infos {
  /* border: 1px solid #d6ed06; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.title__colors {
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37);
  background-color: rgb(70, 80, 90);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-left: 5px;
  width: 60%;

}

.container__colors {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#black {
  background-color: black;
}

#white {
  background-color: white;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#purple {
  background-color: purple;  
}

#orange {
  background-color: orange;
}

.color:hover {
  cursor: pointer;
}

.color {
  border-radius: 100%;
  margin: 10px;
  height: 80px;
  width: 80px;
}

.preferences {
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37);
  align-items: center;
  background-color: rgb(70, 80, 90);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 5px;

  width: 60%;
}

.container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-evenly;
}

button {
  border-style: none;
  border:1px solid rgb(0, 255, 255);
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

input {
  border-style: none;
  border:1px solid rgb(0, 255, 255);
  border-radius: 5px;
  padding: 5px;
}

.section__pixels--board {
  display: flex;
  /* margin-top: 50px; */
  justify-content: center;
  width: 100%;
}

#pixels__board {
  background-color: rgb(70, 80, 90);
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37); 
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0.37);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
